<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793638804849-g739uthn9hm3j2nnopksd9faabqonhkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793638804849-g739uthn9hm3j2nnopksd9faabqonhkl</string>
	<key>API_KEY</key>
	<string>AIzaSyCsEAWc77_Y7YefNwljXSFgBn-i2I1NmlU</string>
	<key>GCM_SENDER_ID</key>
	<string>793638804849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kveldkamp.weeklyworkouts</string>
	<key>PROJECT_ID</key>
	<string>weekly-workouts</string>
	<key>STORAGE_BUCKET</key>
	<string>weekly-workouts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793638804849:ios:62804fd0e739e11a0c2ad0</string>
	<key>DATABASE_URL</key>
	<string>https://weekly-workouts.firebaseio.com</string>
</dict>
</plist>